{% extends 'dashboard/base/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-10">
                            <h2>Experience Info</h2>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-success" href="{% url 'add-experience' %}">Add Experience</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {% if experience %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Job Title</th>
                                <th>Job Context</th>
                                <th>Company Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for exp in experience %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ exp.job_title }}</td>
                                <td>{{ exp.job_context }}</td>
                                <td>{{ exp.company_name }}</td>
                                <td>{{ exp.start_date }}</td>
                                {% if exp.end_date %}
                                    <td>{{ exp.end_date }}</td>
                                {% else %}
                                    <td>Running</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>No Experience Info</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}