{% extends 'dashboard/base/base.html' %}
{% load static  %}
{% block title %}Dashboard{% endblock title %}

{% block content %}
    <div class="row">
        {% for theme in theme %}
        <div class="col-md-4">
            <div class="card">
                <a href="{% url theme.theme_url %}">
                    <div class="card-body">
                        <img src="{{ theme.preview.url }}" alt="" height="100%" width="100%">
                    </div>
                    <div class="card-footer"><a href="{% url theme.theme_url %}">{{ theme.name}}</a></div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}