{% extends 'dashboard/base/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2>Update Profile</h2>
            </div>
            <div class="card-body">
                <form action="{% url 'profile' request.user.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ forms|crispy }}
                    <button type="submit" class="btn btn-success" style="width: 200px; margin-left: 300px;">Update</button>
                </form>
            </div>
        </div>
    </div>
</div> -->
<form action="{% url 'profile' request.user.id %}" method="post" enctype="multipart/form-data">
    <div class="card">
        <div class="card-body">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ forms.name|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ forms.photo|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ forms.username|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ forms.gender|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ forms.about|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ forms.phone_number|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ forms.facebook|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ forms.twitter|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ forms.linkedin|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ forms.instagram|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ forms.github|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ forms.youtube|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-primary text-center">Update Profile</button>
        </div>
    </div>
</form>
{% endblock %}