{% extends 'dashboard/base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<form action="{% url 'profile' request.user.id %}" method="post" enctype="multipart/form-data">
    <div class="card">
        <div class="card-body">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ forms.name|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {% if profile.photo %}
                    <img src="{{ profile.photo.url }}" alt="Profile Photo" height="150px" width="150px">
                    {% else %}
                    <img src="{% static 'dashboard/images/img.jpg' %}" alt="Photo">
                    {% endif %}
                    {{ forms.photo|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ forms.username|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ forms.birth_date|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ forms.country|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ forms.address|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ forms.gender|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ forms.phone_number|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ forms.website|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ forms.market_place_profile|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ forms.facebook|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ forms.twitter|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ forms.linkedin|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ forms.instagram|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ forms.github|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ forms.youtube|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-primary text-center">Update Profile</button>
        </div>
    </div>
</form>
{% endblock %}