{% extends 'dashboard/base/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2>Update Profile</h2>
            </div>
            <div class="card-body text-center">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ forms.as_p }}
                    <button type="submit" class="btn btn-success" style="width: 200px;">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}