{% extends 'dashboard/base/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.theme|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-primary text-center">Update Theme</button>
            </div>
        </div>
    </form>
{% endblock content %}