<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-home"></i>Dashboard</a></li>
        <li><a href="{% url 'profile' request.user.profile.id  %}"><i class="fa fa-user"></i>Profile</a></li>
        <li><a><i class="fa fa-edit"></i>Create Portfolio <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'add-about' %}">About</a></li>
            <li><a href="{% url 'service' %}">Service</a></li>
            <li><a href="{% url 'education-list' %}">Education</a></li>
            <li><a href="{% url 'experience-list' %}">Experience</a></li>
            <li><a href="{% url 'add-skill' %}">Skill</a></li>
            <li><a href="{% url 'portfolio-list' %}">Portfolio</a></li>
            <li><a href="{% url 'contact-details' %}">Contact Details</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-clone"></i>Theme <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'theme-list' %}">All Theme</a></li>
            {% for t in theme %}
            <li><a href="{% url 'theme-preview' t.id %}">{{ t.name|title }} {{ t.id }}</a></li>
            {% endfor %}
            <li><a href="#">Comming soon</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="menu_section">
      <h3>Live On</h3>
      <ul class="nav side-menu">
        <li><a href="{% url 'view-portfolio' request.user.profile.username %}" target="_blank"><i class="fa fa-bug"></i> View Portfolio</span></a></li>
      </ul>
    </div>

  </div>